{{> menu-navbar }}

<section class="section">
  <div class="box">
    <h1 class="title">Edit Tracked Exercise</h1>

    <form action="/tracker/{{workout._id}}/editexercise/{{exercise._id}}" method="POST">
      <label class="label" >Exercise Title</label>
      <input class="input" type="text" name="title" value="{{exercise.title}}">
      <label class="label" >Equipment</label>
      <input class="input" type="text" name="equipment" value="{{exercise.equipment}}">
      <label class="label" >Weight</label>
      <input class="input" type="text" name="weight" value="{{exercise.weight}}">
      <label class="label" >Sets</label>
      <input class="input" type="text" name="sets" value="{{exercise.sets}}">
      <label class="label" >Reps</label>
      <input class="input" type="text" name="reps" value="{{exercise.reps}}">

      <br><br>

      <button class="button is-success">Save Changes</button>
    </form>
  </div>
</section>