{{!--Table to view exercises in a workout, {{title}}.. etc is retrived from form data --}}
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Equipment</th>
      <th>Weight</th>
      <th>Sets</th>
      <th>Reps</th>
    </tr>
  </thead>
  <tbody>
    {{#each workout.exercises}}
      <tr>
        <td>{{title}}</td>
        <td>{{equipment}}</td>
        <td>{{weight}}</td>
        <td>{{sets}}</td>
        <td>{{reps}}</td>
        <td>
          {{!-- {{_id}} refers to the current exercise ID (inside the #each exercises loop).

          {{../workout._id}} uses ../ to move up one level in context
           access the parent object (the workout),
           so this is the workout ID. --}}
          <a href="/workout/{{../workout._id}}/deleteexercise/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
        <td>
          <a href="/workout/{{../workout._id}}/editexercise/{{_id}}" class="ui icon button">
            <i class="fas fa-edit"></i> 
         </a>
        <td>
      </tr>
    {{/each}}
  </tbody>
</table>
<form action="/workout/{{workout._id}}/trackworkout" method="POST">
  <button class="button is-success">
    Track Workout
  </button>
</form>