<h1 class="title">Tracked Workouts</h1>

{{#each trackedWorkouts}}
  <div class="box">
     {{workoutTitle}} <br>
      <small>{{timestamp}}</small>
    </h2>
    <div class="level-right">
        {{!-- Delete Tracked Workout
        
        {{_id}} refers to the current tracked workout ID 
        from the #each trackedWorkouts loop. --}}
        <a href="/tracker/delete/{{_id}}" class="button is-danger is-small">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Exercise</th>
          <th>Equipment</th>
          <th>Weight</th>
          <th>Sets</th>
          <th>Reps</th>
        </tr>
      </thead>
      <tbody>
        {{#each exercises}}
          <tr>
            <td>{{title}}</td>
            <td>{{equipment}}</td>
            <td>{{weight}}</td>
            <td>{{sets}}</td>
            <td>{{reps}}</td>
            <td>  
              {{!--  {{_id}} refers to the current exercise ID 
                (because we are inside #each exercises).

                {{../_id}} moves up one level in context to the 
                 parent tracked workout, so this is the tracked workout ID.

                Final route:
                /tracker/:trackedWorkoutId/editexercise/:exerciseId --}}
              <a href="/tracker/{{../_id}}/editexercise/{{_id}}" 
                class="button is-warning is-small">
                  <i class="fas fa-edit"></i>
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/each}}